In [1]:
%load_ext sql

In [3]:
%sql sqlite:///learning.db

In [4]:
%%sql

CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    major TEXT
);

 * sqlite:///learning.db
Done.

[]