In [45]:
import sqlite3
import pandas as pd

# Connect to Chinook database
conn = sqlite3.connect('chinook.db')

print("Connected to Chinook database")

Connected to Chinook database

# SELECT and Filtering Practice

**Source:** SQLBolt Chapters 1-6  
**Database:** Chinook (Music Store)  
**Topics Covered:**
- Basic SELECT statements
- WHERE clause (=, >, <, >=, <=, !=)
- Text filtering with LIKE and wildcards (%, _)
- Filtering ranges with BETWEEN
- Multiple conditions with IN / NOT IN
- Logical operators (AND, OR, NOT)
- Sorting with ORDER BY (ASC, DESC)
- Limiting results with LIMIT

**Goal:** Build muscle memory for fundamental SQL query patterns through 25 practice problems of increasing difficulty.

---

`### Problem 1: List all artists
**Concept:** Basic SELECT  
**Difficulty:** Easy  
**Task:** Retrieve all columns from the Artist table, limit to 10 rows

---

### Problem 2: Select specific columns from tracks
**Concept:** SELECT specific columns  
**Difficulty:** Easy  
**Task:** Get only Name and Composer columns from the Track table, limit to 15 rows

---

### Problem 3: Find all genres
**Concept:** Basic SELECT  
**Difficulty:** Easy  
**Task:** Retrieve all records from the Genre table

---

### Problem 4: List customer names and emails
**Concept:** SELECT specific columns  
**Difficulty:** Easy  
**Task:** Get FirstName, LastName, and Email from the Customer table

---

### Problem 5: Find tracks longer than 5 minutes
**Concept:** WHERE with comparison operators  
**Difficulty:** Easy  
**Task:** Find all tracks where Milliseconds > 300000 (5 minutes)

---

### Problem 6: Find expensive tracks
**Concept:** WHERE with comparison  
**Difficulty:** Easy  
**Task:** List tracks where UnitPrice > 0.99

---

### Problem 7: Find customers from USA
**Concept:** WHERE with text matching  
**Difficulty:** Easy  
**Task:** Get all customers where Country = 'USA'

---

### Problem 8: Find customers from Germany
**Concept:** WHERE with text matching  
**Difficulty:** Easy  
**Task:** List FirstName, LastName, City for customers from Germany

---

### Problem 9: Find invoices over $10
**Concept:** WHERE with comparison  
**Difficulty:** Easy  
**Task:** Get all invoices where Total > 10

---

### Problem 10: Find short tracks
**Concept:** WHERE with comparison  
**Difficulty:** Easy  
**Task:** List tracks where Milliseconds < 180000 (3 minutes)

---

### Problem 11: Sort albums alphabetically
**Concept:** ORDER BY ascending  
**Difficulty:** Easy  
**Task:** Get all albums sorted by Title in ascending order (A to Z)

---

### Problem 12: Sort customers by last name
**Concept:** ORDER BY  
**Difficulty:** Easy  
**Task:** List customers sorted by LastName alphabetically

---

### Problem 13: Sort tracks by length (longest first)
**Concept:** ORDER BY descending  
**Difficulty:** Easy  
**Task:** Show tracks sorted by Milliseconds in descending order, limit to 10

---

### Problem 14: Sort invoices by total (highest first)
**Concept:** ORDER BY descending  
**Difficulty:** Easy  
**Task:** Get invoices sorted by Total amount (highest to lowest), limit to 20

---

### Problem 15: Find tracks with "Love" in the title
**Concept:** WHERE with LIKE operator  
**Difficulty:** Medium  
**Task:** Find all tracks where Name contains the word "Love" (case-insensitive)

---

### Problem 16: Find artists starting with "B"
**Concept:** WHERE with LIKE and wildcard  
**Difficulty:** Medium  
**Task:** List all artists whose Name starts with the letter "B"

---

### Problem 17: Find customers with Gmail addresses
**Concept:** WHERE with LIKE pattern  
**Difficulty:** Medium  
**Task:** Get customers whose Email contains "@gmail.com"

---

### Problem 18: Find tracks between 3 and 5 minutes
**Concept:** WHERE with BETWEEN  
**Difficulty:** Medium  
**Task:** List tracks where Milliseconds is between 180000 and 300000

---

### Problem 19: Find mid-priced tracks
**Concept:** WHERE with BETWEEN  
**Difficulty:** Medium  
**Task:** Get tracks where UnitPrice is between 0.99 and 1.99

---

### Problem 20: Find customers from specific countries
**Concept:** WHERE with IN operator  
**Difficulty:** Medium  
**Task:** List customers where Country is either 'USA', 'Canada', or 'Brazil'

---

### Problem 21: Find specific genres
**Concept:** WHERE with IN  
**Difficulty:** Medium  
**Task:** Get all tracks where GenreId is in (1, 2, 3) - Rock, Jazz, Metal

---

### Problem 22: Find tracks NOT in Rock genre
**Concept:** WHERE with NOT IN  
**Difficulty:** Medium  
**Task:** List tracks where GenreId is NOT 1 (not Rock), limit to 20

---

### Problem 23: Find customers NOT from Europe
**Concept:** WHERE with NOT IN  
**Difficulty:** Medium  
**Task:** Get customers where Country is NOT IN ('France', 'Germany', 'UK', 'Italy')

---

### Problem 24: Complex filtering - Expensive long tracks
**Concept:** WHERE with AND operator  
**Difficulty:** Medium  
**Task:** Find tracks where UnitPrice > 0.99 AND Milliseconds > 300000

---

### Problem 25: Complex filtering - USA or Canada customers in specific cities
**Concept:** WHERE with OR and AND  
**Difficulty:** Hard  
**Task:** Find customers where (Country = 'USA' OR Country = 'Canada') AND City IN ('New York', 'Toronto', 'Vancouver')

---

In [2]:
# Problem 1: Retrieve all columns from the Artist table, limit to 10 rows

query = """ SELECT * FROM ARTIST LIMIT 10; """
result = pd.read_sql_query(query, conn)
print(result)

   ArtistId                  Name
0         1                 AC/DC
1         2                Accept
2         3             Aerosmith
3         4     Alanis Morissette
4         5       Alice In Chains
5         6  Antônio Carlos Jobim
6         7          Apocalyptica
7         8            Audioslave
8         9              BackBeat
9        10          Billy Cobham

## Quick Reference - Table Structures

### Artist
- **ArtistId** (INTEGER) - Primary key
- **Name** (TEXT) - Artist name
- **Rows:** 275

### Album
- **AlbumId** (INTEGER) - Primary key
- **Title** (TEXT) - Album title
- **ArtistId** (INTEGER) - Foreign key → Artist
- **Rows:** 347

### Track
- **TrackId** (INTEGER) - Primary key
- **Name** (TEXT) - Track name
- **AlbumId** (INTEGER) - Foreign key → Album
- **MediaTypeId** (INTEGER) - Foreign key → MediaType
- **GenreId** (INTEGER) - Foreign key → Genre
- **Composer** (TEXT) - Composer name
- **Milliseconds** (INTEGER) - Track length
- **Bytes** (INTEGER) - File size
- **UnitPrice** (NUMERIC) - Price
- **Rows:** 3,503

### Genre
- **GenreId** (INTEGER) - Primary key
- **Name** (TEXT) - Genre name
- **Rows:** 25

### MediaType
- **MediaTypeId** (INTEGER) - Primary key
- **Name** (TEXT) - Media type (MPEG, AAC, etc.)
- **Rows:** 5

### Customer
- **CustomerId** (INTEGER) - Primary key
- **FirstName** (TEXT)
- **LastName** (TEXT)
- **Company** (TEXT)
- **Address** (TEXT)
- **City** (TEXT)
- **State** (TEXT)
- **Country** (TEXT)
- **PostalCode** (TEXT)
- **Phone** (TEXT)
- **Fax** (TEXT)
- **Email** (TEXT)
- **SupportRepId** (INTEGER) - Foreign key → Employee
- **Rows:** 59

### Invoice
- **InvoiceId** (INTEGER) - Primary key
- **CustomerId** (INTEGER) - Foreign key → Customer
- **InvoiceDate** (DATETIME)
- **BillingAddress** (TEXT)
- **BillingCity** (TEXT)
- **BillingState** (TEXT)
- **BillingCountry** (TEXT)
- **BillingPostalCode** (TEXT)
- **Total** (NUMERIC) - Invoice total
- **Rows:** 412

### InvoiceLine
- **InvoiceLineId** (INTEGER) - Primary key
- **InvoiceId** (INTEGER) - Foreign key → Invoice
- **TrackId** (INTEGER) - Foreign key → Track
- **UnitPrice** (NUMERIC)
- **Quantity** (INTEGER)
- **Rows:** 2,240

### Employee
- **EmployeeId** (INTEGER) - Primary key
- **LastName** (TEXT)
- **FirstName** (TEXT)
- **Title** (TEXT)
- **ReportsTo** (INTEGER) - Foreign key → Employee (boss)
- **BirthDate** (DATETIME)
- **HireDate** (DATETIME)
- **Address** (TEXT)
- **City** (TEXT)
- **State** (TEXT)
- **Country** (TEXT)
- **PostalCode** (TEXT)
- **Phone** (TEXT)
- **Fax** (TEXT)
- **Email** (TEXT)
- **Rows:** 8

### Playlist
- **PlaylistId** (INTEGER) - Primary key
- **Name** (TEXT) - Playlist name
- **Rows:** 18

### PlaylistTrack
- **PlaylistId** (INTEGER) - Foreign key → Playlist
- **TrackId** (INTEGER) - Foreign key → Track
- **Rows:** 8,715

---

## Key Relationships

**Music Structure:**
- Artist → Album (one artist has many albums)
- Album → Track (one album has many tracks)
- Track → Genre (many tracks belong to one genre)
- Track → MediaType (many tracks have one media type)

**Sales Structure:**
- Customer → Invoice (one customer has many invoices)
- Invoice → InvoiceLine (one invoice has many line items)
- InvoiceLine → Track (each line item is for one track)

**Support:**
- Employee → Customer (employee supports many customers via SupportRepId)

---

In [3]:
#  Get only Name and Composer columns from the Track table, limit to 15 rows

query = """
        SELECT Name, Composer
        FROM Track
        LIMIT 15
"""

result = pd.read_sql_query(query, conn)
print(result)

                                       Name  \
0   For Those About To Rock (We Salute You)
1                         Balls to the Wall
2                           Fast As a Shark
3                         Restless and Wild
4                      Princess of the Dawn
5                     Put The Finger On You
6                           Let's Get It Up
7                          Inject The Venom
8                                Snowballed
9                                Evil Walks
10                                   C.O.D.
11                       Breaking The Rules
12                 Night Of The Long Knives
13                               Spellbound
14                                  Go Down

                                             Composer
0           Angus Young, Malcolm Young, Brian Johnson
1   U. Dirkschneider, W. Hoffmann, H. Frank, P. Ba...
2   F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...
3   F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...
4                          Deaffy & R.A. Smith-Diesel
5           Angus Young, Malcolm Young, Brian Johnson
6           Angus Young, Malcolm Young, Brian Johnson
7           Angus Young, Malcolm Young, Brian Johnson
8           Angus Young, Malcolm Young, Brian Johnson
9           Angus Young, Malcolm Young, Brian Johnson
10          Angus Young, Malcolm Young, Brian Johnson
11          Angus Young, Malcolm Young, Brian Johnson
12          Angus Young, Malcolm Young, Brian Johnson
13          Angus Young, Malcolm Young, Brian Johnson
14                                              AC/DC

In [4]:
# Retrieve all records from the Genre table

query = """SELECT * FROM Genre"""

result = pd.read_sql_query(query, conn)
print(result)

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera

In [5]:
# Get FirstName, LastName, and Email from the Customer table

query = """SELECT FirstName, LastName, Email FROM Customer"""
result = pd.read_sql_query(query, conn)
print(result)

    FirstName      LastName                          Email
0        Luís     Gonçalves           luisg@embraer.com.br
1      Leonie        Köhler          leonekohler@surfeu.de
2    François      Tremblay            ftremblay@gmail.com
3       Bjørn        Hansen          bjorn.hansen@yahoo.no
4   František   Wichterlová       frantisekw@jetbrains.com
5      Helena          Holý                hholy@gmail.com
6      Astrid        Gruber         astrid.gruber@apple.at
7        Daan       Peeters          daan_peeters@apple.be
8        Kara       Nielsen          kara.nielsen@jubii.dk
9     Eduardo       Martins       eduardo@woodstock.com.br
10  Alexandre         Rocha               alero@uol.com.br
11    Roberto       Almeida  roberto.almeida@riotur.gov.br
12   Fernanda         Ramos       fernadaramos4@uol.com.br
13       Mark       Philips             mphilips12@shaw.ca
14   Jennifer      Peterson            jenniferp@rogers.ca
15      Frank        Harris             fharris@google.com
16       Jack         Smith        jacksmith@microsoft.com
17   Michelle        Brooks              michelleb@aol.com
18        Tim         Goyer               tgoyer@apple.com
19        Dan        Miller            dmiller@comcast.com
20      Kathy         Chase            kachase@hotmail.com
21    Heather       Leacock             hleacock@gmail.com
22       John        Gordon         johngordon22@yahoo.com
23      Frank       Ralston             fralston@gmail.com
24     Victor       Stevens             vstevens@yahoo.com
25    Richard    Cunningham       ricunningham@hotmail.com
26    Patrick          Gray           patrick.gray@aol.com
27      Julia       Barnett            jubarnett@gmail.com
28     Robert         Brown               robbrown@shaw.ca
29     Edward       Francis            edfrancis@yachoo.ca
30     Martha          Silk           marthasilk@gmail.com
31      Aaron      Mitchell         aaronmitchell@yahoo.ca
32      Ellie      Sullivan         ellie.sullivan@shaw.ca
33       João     Fernandes            jfernandes@yahoo.pt
34   Madalena       Sampaio              masampaio@sapo.pt
35     Hannah     Schneider      hannah.schneider@yahoo.de
36       Fynn    Zimmermann           fzimmermann@yahoo.de
37     Niklas      Schröder            nschroder@surfeu.de
38    Camille       Bernard       camille.bernard@yahoo.fr
39  Dominique      Lefebvre    dominiquelefebvre@gmail.com
40       Marc        Dubois        marc.dubois@hotmail.com
41      Wyatt        Girard          wyatt.girard@yahoo.fr
42   Isabelle       Mercier      isabelle_mercier@apple.fr
43      Terhi    Hämäläinen      terhi.hamalainen@apple.fi
44   Ladislav        Kovács       ladislav_kovacs@apple.hu
45       Hugh      O'Reilly           hughoreilly@apple.ie
46      Lucas       Mancini         lucas.mancini@yahoo.it
47   Johannes  Van der Berg        johavanderberg@yahoo.nl
48  Stanisław        Wójcik         stanisław.wójcik@wp.pl
49    Enrique         Muñoz         enrique_munoz@yahoo.es
50     Joakim     Johansson      joakim.johansson@yahoo.se
51       Emma         Jones         emma_jones@hotmail.com
52       Phil        Hughes          phil.hughes@gmail.com
53      Steve        Murray          steve.murray@yahoo.uk
54       Mark        Taylor           mark.taylor@yahoo.au
55      Diego     Gutiérrez       diego.gutierrez@yahoo.ar
56       Luis         Rojas             luisrojas@yahoo.cl
57      Manoj        Pareek        manoj.pareek@rediff.com
58       Puja    Srivastava       puja_srivastava@yahoo.in

In [6]:
#  Find tracks longer than 5 minutes

query = """SELECT Name from Track WHERE Milliseconds > 300000"""

result = pd.read_sql_query(query, conn)
print(result)

                                                   Name
0               For Those About To Rock (We Salute You)
1                                     Balls to the Wall
2                                  Princess of the Dawn
3                                               Go Down
4                                     Let There Be Rock
...                                                 ...
1064                                   Act IV, Symphony
1065  3 Gymnopédies: No.1 - Lent Et Grave, No.3 - Le...
1066                Symphony No. 2: III. Allegro vivace
1067                           Metopes, Op. 29: Calypso
1068  Concerto for Violin, Strings and Continuo in G...

[1069 rows x 1 columns]

In [5]:
# List tracks where UnitPrice > 0.99
query = """
        SELECT Name, UnitPrice
        FROM Track 
        WHERE UnitPrice > 0.99;

"""

result = pd.read_sql_query(query, conn)
print(result)

                                       Name  UnitPrice
0    Battlestar Galactica: The Story So Far       1.99
1                    Occupation / Precipice       1.99
2                             Exodus, Pt. 1       1.99
3                             Exodus, Pt. 2       1.99
4                             Collaborators       1.99
..                                      ...        ...
208       There's No Place Like Home, Pt. 1       1.99
209       There's No Place Like Home, Pt. 2       1.99
210       There's No Place Like Home, Pt. 3       1.99
211                          Branch Closing       1.99
212                              The Return       1.99

[213 rows x 2 columns]

In [9]:
# Find customers from USA

query = """SELECT FirstName, LastName, Country FROM Customer WHERE Country = 'USA';
"""
result = pd.read_sql_query(query, conn)
print(result)

   FirstName    LastName Country
0      Frank      Harris     USA
1       Jack       Smith     USA
2   Michelle      Brooks     USA
3        Tim       Goyer     USA
4        Dan      Miller     USA
5      Kathy       Chase     USA
6    Heather     Leacock     USA
7       John      Gordon     USA
8      Frank     Ralston     USA
9     Victor     Stevens     USA
10   Richard  Cunningham     USA
11   Patrick        Gray     USA
12     Julia     Barnett     USA

In [10]:
# Find Customers from Germany

query = """
        SELECT FirstName, LastName, Country FROM Customer WHERE Country = 'Germany';

        """

result = pd.read_sql_query(query, conn)
print(result)

  FirstName    LastName  Country
0    Leonie      Köhler  Germany
1    Hannah   Schneider  Germany
2      Fynn  Zimmermann  Germany
3    Niklas    Schröder  Germany

In [13]:
# Find invoices over $10

query = """
        SELECT CustomerId, InvoiceId, Total FROM Invoice WHERE Total > 10;

        """

result = pd.read_sql_query(query, conn)
print(result)

    CustomerId  InvoiceId  Total
0           23          5  13.86
1            2         12  13.86
2           40         19  13.86
3           19         26  13.86
4           57         33  13.86
..         ...        ...    ...
59          10        383  13.86
60          48        390  13.86
61          27        397  13.86
62           6        404  25.86
63          44        411  13.86

[64 rows x 3 columns]

In [15]:
# List tracks which is less than 3 minutes

query = """
        SELECT Name, TrackId, Milliseconds FROM Track WHERE Milliseconds < 180000;

        """

result = pd.read_sql_query(query, conn)
print(result)

                                                  Name  TrackId  Milliseconds
0                                    Right Through You       42        176117
1                                         We Die Young       51        152084
2                Samba De Uma Nota Só (One Note Samba)       65        137273
3                                    Por Causa De Você       66        169900
4                                           Fotografia       68        129227
..                                                 ...      ...           ...
475  Music for the Funeral of Queen Mary: VI. "Thou...     3488        142081
476                                      Sing Joyfully     3492        133768
477    Étude 1, In C Major - Preludio (Presto) - Liszt     3496         51780
478  String Quartet No. 12 in C Minor, D. 703 "Quar...     3500        139200
479               L'orfeo, Act 3, Sinfonia (Orchestra)     3501         66639

[480 rows x 3 columns]

In [16]:
# Sort albums alphabetically

query = """
        SELECT Title FROM Album ORDER BY Title ASC;

        """

result = pd.read_sql_query(query, conn)
print(result)

                                                 Title
0                               ...And Justice For All
1    20th Century Masters - The Millennium Collecti...
2                        A Copland Celebration, Vol. I
3                           A Matter of Life and Death
4                                      A Real Dead One
..                                                 ...
342                                     Warner 25 Anos
343                       Weill: The Seven Deadly Sins
344                                             Worlds
345                                            Zooropa
346                        [1997] Black Light Syndrome

[347 rows x 1 columns]

In [17]:
# Sort customers by last name

query = """
        SELECT LastName, FirstName FROM Customer ORDER BY LastName ASC;

        """

result = pd.read_sql_query(query, conn)
print(result)

        LastName  FirstName
0        Almeida    Roberto
1        Barnett      Julia
2        Bernard    Camille
3         Brooks   Michelle
4          Brown     Robert
5          Chase      Kathy
6     Cunningham    Richard
7         Dubois       Marc
8      Fernandes       João
9        Francis     Edward
10        Girard      Wyatt
11     Gonçalves       Luís
12        Gordon       John
13         Goyer        Tim
14          Gray    Patrick
15        Gruber     Astrid
16     Gutiérrez      Diego
17        Hansen      Bjørn
18        Harris      Frank
19          Holý     Helena
20        Hughes       Phil
21    Hämäläinen      Terhi
22     Johansson     Joakim
23         Jones       Emma
24        Kovács   Ladislav
25        Köhler     Leonie
26       Leacock    Heather
27      Lefebvre  Dominique
28       Mancini      Lucas
29       Martins    Eduardo
30       Mercier   Isabelle
31        Miller        Dan
32      Mitchell      Aaron
33        Murray      Steve
34         Muñoz    Enrique
35       Nielsen       Kara
36      O'Reilly       Hugh
37        Pareek      Manoj
38       Peeters       Daan
39      Peterson   Jennifer
40       Philips       Mark
41       Ralston      Frank
42         Ramos   Fernanda
43         Rocha  Alexandre
44         Rojas       Luis
45       Sampaio   Madalena
46     Schneider     Hannah
47      Schröder     Niklas
48          Silk     Martha
49         Smith       Jack
50    Srivastava       Puja
51       Stevens     Victor
52      Sullivan      Ellie
53        Taylor       Mark
54      Tremblay   François
55  Van der Berg   Johannes
56   Wichterlová  František
57        Wójcik  Stanisław
58    Zimmermann       Fynn

In [18]:
# Sort tracks by length (longest first)

query = """
        SELECT Name, Milliseconds FROM Track ORDER BY Milliseconds DESC;

        """

result = pd.read_sql_query(query, conn)
print(result)

                             Name  Milliseconds
0          Occupation / Precipice       5286953
1         Through a Looking Glass       5088838
2     Greetings from Earth, Pt. 1       2960293
3         The Man With Nine Lives       2956998
4     Battlestar Galactica, Pt. 2       2956081
...                           ...           ...
3498                 Commercial 1          7941
3499                        Oprah          6635
3500                  A Statistic          6373
3501                   Now Sports          4884
3502     É Uma Partida De Futebol          1071

[3503 rows x 2 columns]

In [19]:
# Sort invoices by Total (highest first)

query = """
        SELECT InvoiceId, Total FROM Invoice ORDER BY Total DESC;

        """

result = pd.read_sql_query(query, conn)
print(result)

     InvoiceId
0          404
1          299
2           96
3          194
4           89
..         ...
407        377
408        384
409        391
410        398
411        405

[412 rows x 1 columns]

In [20]:
# Find tracks with "Love" in the title

query = """
        SELECT Name, TrackId FROM Track WHERE Name LIKE '%Love%';

        """

result = pd.read_sql_query(query, conn)
print(result)

                                             Name  TrackId
0                             Love In An Elevator       24
1                                Love, Hate, Love       56
2                            Let Me Love You Baby      195
3                                         My Love      335
4    The Girl I Love She Got Long Black Wavy Hair      341
..                                            ...      ...
109                                    Love Comes     3355
110                         Arms Around Your Love     3377
111                         Love Is a Losing Game     3460
112                         I Heard Love Is Blind     3470
113        (There Is) No Greater Love (Teo Licks)     3471

[114 rows x 2 columns]

In [21]:
# Find artists starting with "B"

query = """
        SELECT Name FROM Artist WHERE Name LIKE 'B%';

        """

result = pd.read_sql_query(query, conn)
print(result)

                                                 Name
0                                            BackBeat
1                                        Billy Cobham
2                                 Black Label Society
3                                       Black Sabbath
4                                          Body Count
5                                     Bruce Dickinson
6                                           Buddy Guy
7                                      Bebel Gilberto
8                                       Baby Consuelo
9                                     Banda Black Rio
10                                     Barão Vermelho
11                               Battlestar Galactica
12                     Battlestar Galactica (Classic)
13                                         Big & Rich
14                                    Black Eyed Peas
15                                         Ben Harper
16  Berliner Philharmoniker, Claudio Abbado & Sabi...
17     Britten Sinfonia, Ivor Bolton & Lesley Garrett
18           Barry Wordsworth & BBC Concert Orchestra
19            Boston Symphony Orchestra & Seiji Ozawa
20             Berliner Philharmoniker & Hans Rosbaud
21      Berliner Philharmoniker & Herbert Von Karajan

In [22]:
# Find customers with Gmail Address

query = """
        SELECT FirstName, LastName, Email FROM Customer WHERE Email LIKE '%@gmail.com' ;

        """

result = pd.read_sql_query(query, conn)
print(result)

   FirstName  LastName                        Email
0   François  Tremblay          ftremblay@gmail.com
1     Helena      Holý              hholy@gmail.com
2    Heather   Leacock           hleacock@gmail.com
3      Frank   Ralston           fralston@gmail.com
4      Julia   Barnett          jubarnett@gmail.com
5     Martha      Silk         marthasilk@gmail.com
6  Dominique  Lefebvre  dominiquelefebvre@gmail.com
7       Phil    Hughes        phil.hughes@gmail.com

In [23]:
# Find tracks between 3 and 5 minutes

query = """
        SELECT Name, Milliseconds FROM Track WHERE Milliseconds BETWEEN 180000 AND 300000 ;

        """

result = pd.read_sql_query(query, conn)
print(result)

                                                   Name  Milliseconds
0                                       Fast As a Shark        230619
1                                     Restless and Wild        252051
2                                 Put The Finger On You        205662
3                                       Let's Get It Up        233926
4                                      Inject The Venom        210834
...                                                 ...           ...
1949  24 Caprices, Op. 1, No. 24, for Solo Violin, i...        265541
1950                                    Erlkonig, D.328        261849
1951  Pini Di Roma (Pinien Von Rom) \ I Pini Della V...        286741
1952  Quintet for Horn, Violin, 2 Violas, and Cello ...        221331
1953                                      Koyaanisqatsi        206005

[1954 rows x 2 columns]

In [24]:
# Find tracks where unitprice is between 0.99 and 1.99

query = """
        SELECT Name, UnitPrice FROM Track WHERE UnitPrice BETWEEN 0.99 AND 1.99 ;

        """

result = pd.read_sql_query(query, conn)
print(result)

                                                   Name  UnitPrice
0               For Those About To Rock (We Salute You)       0.99
1                                     Balls to the Wall       0.99
2                                       Fast As a Shark       0.99
3                                     Restless and Wild       0.99
4                                  Princess of the Dawn       0.99
...                                                 ...        ...
3498  Pini Di Roma (Pinien Von Rom) \ I Pini Della V...       0.99
3499  String Quartet No. 12 in C Minor, D. 703 "Quar...       0.99
3500               L'orfeo, Act 3, Sinfonia (Orchestra)       0.99
3501  Quintet for Horn, Violin, 2 Violas, and Cello ...       0.99
3502                                      Koyaanisqatsi       0.99

[3503 rows x 2 columns]

In [26]:
# Find customers form specific countries (USA, CANADA, BRAZIL)

query = """
        SELECT FirstName, LastName, Country FROM Customer WHERE UPPER(Country) IN ('USA', 'CANADA', 'BRAZIL') ;

        """

result = pd.read_sql_query(query, conn)
print(result)

    FirstName    LastName Country
0        Luís   Gonçalves  Brazil
1    François    Tremblay  Canada
2     Eduardo     Martins  Brazil
3   Alexandre       Rocha  Brazil
4     Roberto     Almeida  Brazil
5    Fernanda       Ramos  Brazil
6        Mark     Philips  Canada
7    Jennifer    Peterson  Canada
8       Frank      Harris     USA
9        Jack       Smith     USA
10   Michelle      Brooks     USA
11        Tim       Goyer     USA
12        Dan      Miller     USA
13      Kathy       Chase     USA
14    Heather     Leacock     USA
15       John      Gordon     USA
16      Frank     Ralston     USA
17     Victor     Stevens     USA
18    Richard  Cunningham     USA
19    Patrick        Gray     USA
20      Julia     Barnett     USA
21     Robert       Brown  Canada
22     Edward     Francis  Canada
23     Martha        Silk  Canada
24      Aaron    Mitchell  Canada
25      Ellie    Sullivan  Canada

In [49]:
# Find all tracks where generid is in 1,2,3

query = """
        SELECT Name 
FROM Genre 
WHERE GenreId IN (1,2,3);

        """

result = pd.read_sql_query(query, conn)
print(result)

    Name
0   Rock
1   Jazz
2  Metal

In [34]:
# Count total tracks
count_query = "SELECT COUNT(*) as total FROM Track;"
count = pd.read_sql_query(count_query, conn)
print(count)

   total
0   3503

In [48]:
# Find all tracks NOT in ROCK genre 

query = """
SELECT Name
FROM Track
WHERE GenreId NOT IN (1);

        """

result = pd.read_sql_query(query, conn)
print(result)

                                                   Name
0                                            Desafinado
1                                     Garota De Ipanema
2                 Samba De Uma Nota Só (One Note Samba)
3                                     Por Causa De Você
4                                                 Ligia
...                                                 ...
2201  Pini Di Roma (Pinien Von Rom) \ I Pini Della V...
2202  String Quartet No. 12 in C Minor, D. 703 "Quar...
2203               L'orfeo, Act 3, Sinfonia (Orchestra)
2204  Quintet for Horn, Violin, 2 Violas, and Cello ...
2205                                      Koyaanisqatsi

[2206 rows x 1 columns]

In [46]:
# Make sure connection was established correctly
print(type(conn))
print(conn)

<class 'sqlite3.Connection'>
<sqlite3.Connection object at 0x0000018512F744F0>

In [51]:
# Find customers not from europe

query ="""SELECT FirstName, LastName, Country FROM Customer WHERE UPPER(Country) NOT IN ('FRANCE','GERMANY', 'ITALY') LIMIT 20;"""
result = pd.read_sql_query(query, conn)
print(result)

    FirstName     LastName         Country
0        Luís    Gonçalves          Brazil
1    François     Tremblay          Canada
2       Bjørn       Hansen          Norway
3   František  Wichterlová  Czech Republic
4      Helena         Holý  Czech Republic
5      Astrid       Gruber         Austria
6        Daan      Peeters         Belgium
7        Kara      Nielsen         Denmark
8     Eduardo      Martins          Brazil
9   Alexandre        Rocha          Brazil
10    Roberto      Almeida          Brazil
11   Fernanda        Ramos          Brazil
12       Mark      Philips          Canada
13   Jennifer     Peterson          Canada
14      Frank       Harris             USA
15       Jack        Smith             USA
16   Michelle       Brooks             USA
17        Tim        Goyer             USA
18        Dan       Miller             USA
19      Kathy        Chase             USA

In [53]:
# Find expensive long track



query ="""SELECT UnitPrice, Milliseconds, Name FROM Track WHERE UnitPrice > 0.99 AND Milliseconds > 300000;"""
result = pd.read_sql_query(query, conn)
print(result)

     UnitPrice  Milliseconds                                    Name
0         1.99       2622250  Battlestar Galactica: The Story So Far
1         1.99       5286953                  Occupation / Precipice
2         1.99       2621708                           Exodus, Pt. 1
3         1.99       2618000                           Exodus, Pt. 2
4         1.99       2626626                           Collaborators
..         ...           ...                                     ...
207       1.99       2609526       There's No Place Like Home, Pt. 1
208       1.99       2497956       There's No Place Like Home, Pt. 2
209       1.99       2582957       There's No Place Like Home, Pt. 3
210       1.99       1814855                          Branch Closing
211       1.99       1705080                              The Return

[212 rows x 3 columns]

In [55]:
# Find customers who are either from USA or Canada




query ="""SELECT FirstName, LastName, Country FROM Customer WHERE LOWER(Country) IN ('usa','canada');"""
result = pd.read_sql_query(query, conn)
print(result)

   FirstName    LastName Country
0   François    Tremblay  Canada
1       Mark     Philips  Canada
2   Jennifer    Peterson  Canada
3      Frank      Harris     USA
4       Jack       Smith     USA
5   Michelle      Brooks     USA
6        Tim       Goyer     USA
7        Dan      Miller     USA
8      Kathy       Chase     USA
9    Heather     Leacock     USA
10      John      Gordon     USA
11     Frank     Ralston     USA
12    Victor     Stevens     USA
13   Richard  Cunningham     USA
14   Patrick        Gray     USA
15     Julia     Barnett     USA
16    Robert       Brown  Canada
17    Edward     Francis  Canada
18    Martha        Silk  Canada
19     Aaron    Mitchell  Canada
20     Ellie    Sullivan  Canada