In [1]:
import sqlite3
import pandas as pd

# Connect to Chinook database
conn = sqlite3.connect('chinook.db')

print("Connected to Chinook database")

Connected to Chinook database

# SELECT and Filtering Practice

**Source:** SQLBolt Chapters 1-6  
**Database:** Chinook (Music Store)  
**Topics Covered:**
- Basic SELECT statements
- WHERE clause (=, >, <, >=, <=, !=)
- Text filtering with LIKE and wildcards (%, _)
- Filtering ranges with BETWEEN
- Multiple conditions with IN / NOT IN
- Logical operators (AND, OR, NOT)
- Sorting with ORDER BY (ASC, DESC)
- Limiting results with LIMIT

**Goal:** Build muscle memory for fundamental SQL query patterns through 25 practice problems of increasing difficulty.

---

`### Problem 1: List all artists
**Concept:** Basic SELECT  
**Difficulty:** Easy  
**Task:** Retrieve all columns from the Artist table, limit to 10 rows

---

### Problem 2: Select specific columns from tracks
**Concept:** SELECT specific columns  
**Difficulty:** Easy  
**Task:** Get only Name and Composer columns from the Track table, limit to 15 rows

---

### Problem 3: Find all genres
**Concept:** Basic SELECT  
**Difficulty:** Easy  
**Task:** Retrieve all records from the Genre table

---

### Problem 4: List customer names and emails
**Concept:** SELECT specific columns  
**Difficulty:** Easy  
**Task:** Get FirstName, LastName, and Email from the Customer table

---

### Problem 5: Find tracks longer than 5 minutes
**Concept:** WHERE with comparison operators  
**Difficulty:** Easy  
**Task:** Find all tracks where Milliseconds > 300000 (5 minutes)

---

### Problem 6: Find expensive tracks
**Concept:** WHERE with comparison  
**Difficulty:** Easy  
**Task:** List tracks where UnitPrice > 0.99

---

### Problem 7: Find customers from USA
**Concept:** WHERE with text matching  
**Difficulty:** Easy  
**Task:** Get all customers where Country = 'USA'

---

### Problem 8: Find customers from Germany
**Concept:** WHERE with text matching  
**Difficulty:** Easy  
**Task:** List FirstName, LastName, City for customers from Germany

---

### Problem 9: Find invoices over $10
**Concept:** WHERE with comparison  
**Difficulty:** Easy  
**Task:** Get all invoices where Total > 10

---

### Problem 10: Find short tracks
**Concept:** WHERE with comparison  
**Difficulty:** Easy  
**Task:** List tracks where Milliseconds < 180000 (3 minutes)

---

### Problem 11: Sort albums alphabetically
**Concept:** ORDER BY ascending  
**Difficulty:** Easy  
**Task:** Get all albums sorted by Title in ascending order (A to Z)

---

### Problem 12: Sort customers by last name
**Concept:** ORDER BY  
**Difficulty:** Easy  
**Task:** List customers sorted by LastName alphabetically

---

### Problem 13: Sort tracks by length (longest first)
**Concept:** ORDER BY descending  
**Difficulty:** Easy  
**Task:** Show tracks sorted by Milliseconds in descending order, limit to 10

---

### Problem 14: Sort invoices by total (highest first)
**Concept:** ORDER BY descending  
**Difficulty:** Easy  
**Task:** Get invoices sorted by Total amount (highest to lowest), limit to 20

---

### Problem 15: Find tracks with "Love" in the title
**Concept:** WHERE with LIKE operator  
**Difficulty:** Medium  
**Task:** Find all tracks where Name contains the word "Love" (case-insensitive)

---

### Problem 16: Find artists starting with "B"
**Concept:** WHERE with LIKE and wildcard  
**Difficulty:** Medium  
**Task:** List all artists whose Name starts with the letter "B"

---

### Problem 17: Find customers with Gmail addresses
**Concept:** WHERE with LIKE pattern  
**Difficulty:** Medium  
**Task:** Get customers whose Email contains "@gmail.com"

---

### Problem 18: Find tracks between 3 and 5 minutes
**Concept:** WHERE with BETWEEN  
**Difficulty:** Medium  
**Task:** List tracks where Milliseconds is between 180000 and 300000

---

### Problem 19: Find mid-priced tracks
**Concept:** WHERE with BETWEEN  
**Difficulty:** Medium  
**Task:** Get tracks where UnitPrice is between 0.99 and 1.99

---

### Problem 20: Find customers from specific countries
**Concept:** WHERE with IN operator  
**Difficulty:** Medium  
**Task:** List customers where Country is either 'USA', 'Canada', or 'Brazil'

---

### Problem 21: Find specific genres
**Concept:** WHERE with IN  
**Difficulty:** Medium  
**Task:** Get all tracks where GenreId is in (1, 2, 3) - Rock, Jazz, Metal

---

### Problem 22: Find tracks NOT in Rock genre
**Concept:** WHERE with NOT IN  
**Difficulty:** Medium  
**Task:** List tracks where GenreId is NOT 1 (not Rock), limit to 20

---

### Problem 23: Find customers NOT from Europe
**Concept:** WHERE with NOT IN  
**Difficulty:** Medium  
**Task:** Get customers where Country is NOT IN ('France', 'Germany', 'UK', 'Italy')

---

### Problem 24: Complex filtering - Expensive long tracks
**Concept:** WHERE with AND operator  
**Difficulty:** Medium  
**Task:** Find tracks where UnitPrice > 0.99 AND Milliseconds > 300000

---

### Problem 25: Complex filtering - USA or Canada customers in specific cities
**Concept:** WHERE with OR and AND  
**Difficulty:** Hard  
**Task:** Find customers where (Country = 'USA' OR Country = 'Canada') AND City IN ('New York', 'Toronto', 'Vancouver')

---

In [2]:
# Problem 1: Retrieve all columns from the Artist table, limit to 10 rows

query = """ SELECT * FROM ARTIST LIMIT 10; """
result = pd.read_sql_query(query, conn)
print(result)

   ArtistId                  Name
0         1                 AC/DC
1         2                Accept
2         3             Aerosmith
3         4     Alanis Morissette
4         5       Alice In Chains
5         6  Antônio Carlos Jobim
6         7          Apocalyptica
7         8            Audioslave
8         9              BackBeat
9        10          Billy Cobham

## Quick Reference - Table Structures

### Artist
- **ArtistId** (INTEGER) - Primary key
- **Name** (TEXT) - Artist name
- **Rows:** 275

### Album
- **AlbumId** (INTEGER) - Primary key
- **Title** (TEXT) - Album title
- **ArtistId** (INTEGER) - Foreign key → Artist
- **Rows:** 347

### Track
- **TrackId** (INTEGER) - Primary key
- **Name** (TEXT) - Track name
- **AlbumId** (INTEGER) - Foreign key → Album
- **MediaTypeId** (INTEGER) - Foreign key → MediaType
- **GenreId** (INTEGER) - Foreign key → Genre
- **Composer** (TEXT) - Composer name
- **Milliseconds** (INTEGER) - Track length
- **Bytes** (INTEGER) - File size
- **UnitPrice** (NUMERIC) - Price
- **Rows:** 3,503

### Genre
- **GenreId** (INTEGER) - Primary key
- **Name** (TEXT) - Genre name
- **Rows:** 25

### MediaType
- **MediaTypeId** (INTEGER) - Primary key
- **Name** (TEXT) - Media type (MPEG, AAC, etc.)
- **Rows:** 5

### Customer
- **CustomerId** (INTEGER) - Primary key
- **FirstName** (TEXT)
- **LastName** (TEXT)
- **Company** (TEXT)
- **Address** (TEXT)
- **City** (TEXT)
- **State** (TEXT)
- **Country** (TEXT)
- **PostalCode** (TEXT)
- **Phone** (TEXT)
- **Fax** (TEXT)
- **Email** (TEXT)
- **SupportRepId** (INTEGER) - Foreign key → Employee
- **Rows:** 59

### Invoice
- **InvoiceId** (INTEGER) - Primary key
- **CustomerId** (INTEGER) - Foreign key → Customer
- **InvoiceDate** (DATETIME)
- **BillingAddress** (TEXT)
- **BillingCity** (TEXT)
- **BillingState** (TEXT)
- **BillingCountry** (TEXT)
- **BillingPostalCode** (TEXT)
- **Total** (NUMERIC) - Invoice total
- **Rows:** 412

### InvoiceLine
- **InvoiceLineId** (INTEGER) - Primary key
- **InvoiceId** (INTEGER) - Foreign key → Invoice
- **TrackId** (INTEGER) - Foreign key → Track
- **UnitPrice** (NUMERIC)
- **Quantity** (INTEGER)
- **Rows:** 2,240

### Employee
- **EmployeeId** (INTEGER) - Primary key
- **LastName** (TEXT)
- **FirstName** (TEXT)
- **Title** (TEXT)
- **ReportsTo** (INTEGER) - Foreign key → Employee (boss)
- **BirthDate** (DATETIME)
- **HireDate** (DATETIME)
- **Address** (TEXT)
- **City** (TEXT)
- **State** (TEXT)
- **Country** (TEXT)
- **PostalCode** (TEXT)
- **Phone** (TEXT)
- **Fax** (TEXT)
- **Email** (TEXT)
- **Rows:** 8

### Playlist
- **PlaylistId** (INTEGER) - Primary key
- **Name** (TEXT) - Playlist name
- **Rows:** 18

### PlaylistTrack
- **PlaylistId** (INTEGER) - Foreign key → Playlist
- **TrackId** (INTEGER) - Foreign key → Track
- **Rows:** 8,715

---

## Key Relationships

**Music Structure:**
- Artist → Album (one artist has many albums)
- Album → Track (one album has many tracks)
- Track → Genre (many tracks belong to one genre)
- Track → MediaType (many tracks have one media type)

**Sales Structure:**
- Customer → Invoice (one customer has many invoices)
- Invoice → InvoiceLine (one invoice has many line items)
- InvoiceLine → Track (each line item is for one track)

**Support:**
- Employee → Customer (employee supports many customers via SupportRepId)

---

In [3]:
#  Get only Name and Composer columns from the Track table, limit to 15 rows

query = """
        SELECT Name, Composer
        FROM Track
        LIMIT 15
"""

result = pd.read_sql_query(query, conn)
print(result)

                                       Name  \
0   For Those About To Rock (We Salute You)
1                         Balls to the Wall
2                           Fast As a Shark
3                         Restless and Wild
4                      Princess of the Dawn
5                     Put The Finger On You
6                           Let's Get It Up
7                          Inject The Venom
8                                Snowballed
9                                Evil Walks
10                                   C.O.D.
11                       Breaking The Rules
12                 Night Of The Long Knives
13                               Spellbound
14                                  Go Down

                                             Composer
0           Angus Young, Malcolm Young, Brian Johnson
1   U. Dirkschneider, W. Hoffmann, H. Frank, P. Ba...
2   F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...
3   F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...
4                          Deaffy & R.A. Smith-Diesel
5           Angus Young, Malcolm Young, Brian Johnson
6           Angus Young, Malcolm Young, Brian Johnson
7           Angus Young, Malcolm Young, Brian Johnson
8           Angus Young, Malcolm Young, Brian Johnson
9           Angus Young, Malcolm Young, Brian Johnson
10          Angus Young, Malcolm Young, Brian Johnson
11          Angus Young, Malcolm Young, Brian Johnson
12          Angus Young, Malcolm Young, Brian Johnson
13          Angus Young, Malcolm Young, Brian Johnson
14                                              AC/DC

In [4]:
# Retrieve all records from the Genre table

query = """SELECT * FROM Genre"""

result = pd.read_sql_query(query, conn)
print(result)

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera

In [5]:
# Get FirstName, LastName, and Email from the Customer table

query = """SELECT FirstName, LastName, Email FROM Customer"""
result = pd.read_sql_query(query, conn)
print(result)

    FirstName      LastName                          Email
0        Luís     Gonçalves           luisg@embraer.com.br
1      Leonie        Köhler          leonekohler@surfeu.de
2    François      Tremblay            ftremblay@gmail.com
3       Bjørn        Hansen          bjorn.hansen@yahoo.no
4   František   Wichterlová       frantisekw@jetbrains.com
5      Helena          Holý                hholy@gmail.com
6      Astrid        Gruber         astrid.gruber@apple.at
7        Daan       Peeters          daan_peeters@apple.be
8        Kara       Nielsen          kara.nielsen@jubii.dk
9     Eduardo       Martins       eduardo@woodstock.com.br
10  Alexandre         Rocha               alero@uol.com.br
11    Roberto       Almeida  roberto.almeida@riotur.gov.br
12   Fernanda         Ramos       fernadaramos4@uol.com.br
13       Mark       Philips             mphilips12@shaw.ca
14   Jennifer      Peterson            jenniferp@rogers.ca
15      Frank        Harris             fharris@google.com
16       Jack         Smith        jacksmith@microsoft.com
17   Michelle        Brooks              michelleb@aol.com
18        Tim         Goyer               tgoyer@apple.com
19        Dan        Miller            dmiller@comcast.com
20      Kathy         Chase            kachase@hotmail.com
21    Heather       Leacock             hleacock@gmail.com
22       John        Gordon         johngordon22@yahoo.com
23      Frank       Ralston             fralston@gmail.com
24     Victor       Stevens             vstevens@yahoo.com
25    Richard    Cunningham       ricunningham@hotmail.com
26    Patrick          Gray           patrick.gray@aol.com
27      Julia       Barnett            jubarnett@gmail.com
28     Robert         Brown               robbrown@shaw.ca
29     Edward       Francis            edfrancis@yachoo.ca
30     Martha          Silk           marthasilk@gmail.com
31      Aaron      Mitchell         aaronmitchell@yahoo.ca
32      Ellie      Sullivan         ellie.sullivan@shaw.ca
33       João     Fernandes            jfernandes@yahoo.pt
34   Madalena       Sampaio              masampaio@sapo.pt
35     Hannah     Schneider      hannah.schneider@yahoo.de
36       Fynn    Zimmermann           fzimmermann@yahoo.de
37     Niklas      Schröder            nschroder@surfeu.de
38    Camille       Bernard       camille.bernard@yahoo.fr
39  Dominique      Lefebvre    dominiquelefebvre@gmail.com
40       Marc        Dubois        marc.dubois@hotmail.com
41      Wyatt        Girard          wyatt.girard@yahoo.fr
42   Isabelle       Mercier      isabelle_mercier@apple.fr
43      Terhi    Hämäläinen      terhi.hamalainen@apple.fi
44   Ladislav        Kovács       ladislav_kovacs@apple.hu
45       Hugh      O'Reilly           hughoreilly@apple.ie
46      Lucas       Mancini         lucas.mancini@yahoo.it
47   Johannes  Van der Berg        johavanderberg@yahoo.nl
48  Stanisław        Wójcik         stanisław.wójcik@wp.pl
49    Enrique         Muñoz         enrique_munoz@yahoo.es
50     Joakim     Johansson      joakim.johansson@yahoo.se
51       Emma         Jones         emma_jones@hotmail.com
52       Phil        Hughes          phil.hughes@gmail.com
53      Steve        Murray          steve.murray@yahoo.uk
54       Mark        Taylor           mark.taylor@yahoo.au
55      Diego     Gutiérrez       diego.gutierrez@yahoo.ar
56       Luis         Rojas             luisrojas@yahoo.cl
57      Manoj        Pareek        manoj.pareek@rediff.com
58       Puja    Srivastava       puja_srivastava@yahoo.in

In [6]:
#  Find tracks longer than 5 minutes

query = """SELECT Name from Track WHERE Milliseconds > 300000"""

result = pd.read_sql_query(query, conn)
print(result)

                                                   Name
0               For Those About To Rock (We Salute You)
1                                     Balls to the Wall
2                                  Princess of the Dawn
3                                               Go Down
4                                     Let There Be Rock
...                                                 ...
1064                                   Act IV, Symphony
1065  3 Gymnopédies: No.1 - Lent Et Grave, No.3 - Le...
1066                Symphony No. 2: III. Allegro vivace
1067                           Metopes, Op. 29: Calypso
1068  Concerto for Violin, Strings and Continuo in G...

[1069 rows x 1 columns]