# JOINs Practice

**Source:** SQLBolt Chapters 7-9  
**Database:** Chinook (Music Store)  
**Topics Covered:**
- INNER JOIN (matching records from both tables)
- LEFT JOIN / LEFT OUTER JOIN (all from left table + matches from right)
- RIGHT JOIN / RIGHT OUTER JOIN (all from right table + matches from left)
- FULL OUTER JOIN (all records from both tables)
- CROSS JOIN (Cartesian product)
- Self JOINs (joining a table to itself)
- Multi-table JOINs (3+ tables)
- JOIN with WHERE, ORDER BY, and LIMIT
- Understanding NULL values in JOINs

**Goal:** Master combining data from multiple tables - the most critical SQL skill for real-world data analysis.

**Key Chinook Relationships:**
- Artist → Album (one-to-many via ArtistId)
- Album → Track (one-to-many via AlbumId)
- Track → Genre (many-to-one via GenreId)
- Track → MediaType (many-to-one via MediaTypeId)
- Customer → Invoice (one-to-many via CustomerId)
- Invoice → InvoiceLine (one-to-many via InvoiceId)
- InvoiceLine → Track (many-to-one via TrackId)

---

In [1]:
import sqlite3
import pandas as pd

# Connect to Chinook database
conn = sqlite3.connect('chinook.db')

print("Connected to Chinook database")

Connected to Chinook database

In [5]:
# Configure pandas display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 30)

In [6]:
# Problem 1: List track with their album names

query = """
        SELECT Name, Title
        FROM Track
        INNER JOIN Album
            ON Track.AlbumId = Album.AlbumId;
"""

result = pd.read_sql_query(query, conn)
print(result)

                               Name                          Title
0     For Those About To Rock (W...  For Those About To Rock We...
1                 Balls to the Wall              Balls to the Wall
2                   Fast As a Shark              Restless and Wild
3                 Restless and Wild              Restless and Wild
4              Princess of the Dawn              Restless and Wild
...                             ...                            ...
3498  Pini Di Roma (Pinien Von R...         Respighi:Pines of Rome
3499  String Quartet No. 12 in C...  Schubert: The Late String ...
3500  L'orfeo, Act 3, Sinfonia (...            Monteverdi: L'Orfeo
3501  Quintet for Horn, Violin, ...          Mozart: Chamber Music
3502                  Koyaanisqatsi  Koyaanisqatsi (Soundtrack ...

[3503 rows x 2 columns]

In [8]:
# Problem 2: Show artists with their albums

query = """
        SELECT Artist.Name, Album.Title
        FROM Artist
        INNER JOIN Album
            ON Artist.ArtistId = Album.ArtistId;
"""

result = pd.read_sql_query(query, conn)
print(result)

                              Name                          Title
0                            AC/DC  For Those About To Rock We...
1                           Accept              Balls to the Wall
2                           Accept              Restless and Wild
3                            AC/DC              Let There Be Rock
4                        Aerosmith                       Big Ones
..                             ...                            ...
342                 Eugene Ormandy         Respighi:Pines of Rome
343         Emerson String Quartet  Schubert: The Late String ...
344  C. Monteverdi, Nigel Roger...            Monteverdi: L'Orfeo
345                  Nash Ensemble          Mozart: Chamber Music
346          Philip Glass Ensemble  Koyaanisqatsi (Soundtrack ...

[347 rows x 2 columns]

In [9]:
# Problem 3: List tracks with their genre names

query = """
        SELECT Track.Name, Genre.Name
        FROM Track
        INNER JOIN Genre
            ON Track.GenreId = Genre.GenreId;
"""

result = pd.read_sql_query(query, conn)
print(result)

                               Name        Name
0     For Those About To Rock (W...        Rock
1                 Balls to the Wall        Rock
2                   Fast As a Shark        Rock
3                 Restless and Wild        Rock
4              Princess of the Dawn        Rock
...                             ...         ...
3498  Pini Di Roma (Pinien Von R...   Classical
3499  String Quartet No. 12 in C...   Classical
3500  L'orfeo, Act 3, Sinfonia (...   Classical
3501  Quintet for Horn, Violin, ...   Classical
3502                  Koyaanisqatsi  Soundtrack

[3503 rows x 2 columns]

In [11]:
# Problem 4: Show tracks with their mediatype 

query = """
        SELECT Track.Name AS TrackTitle, MediaType.Name AS MediaType
        FROM Track
        INNER JOIN MediaType
            ON Track.MediaTypeId = MediaType.MediaTypeId;
"""

result = pd.read_sql_query(query, conn)
print(result)

                         TrackTitle                 MediaType
0     For Those About To Rock (W...           MPEG audio file
1                 Balls to the Wall  Protected AAC audio file
2                   Fast As a Shark  Protected AAC audio file
3                 Restless and Wild  Protected AAC audio file
4              Princess of the Dawn  Protected AAC audio file
...                             ...                       ...
3498  Pini Di Roma (Pinien Von R...  Protected AAC audio file
3499  String Quartet No. 12 in C...  Protected AAC audio file
3500  L'orfeo, Act 3, Sinfonia (...  Protected AAC audio file
3501  Quintet for Horn, Violin, ...  Protected AAC audio file
3502                  Koyaanisqatsi  Protected AAC audio file

[3503 rows x 2 columns]

In [12]:
# Problem 5: List customers with their invoices

query = """
        SELECT Customer.FirstName, Customer.LastName, Invoice.Total AS Invoice
        FROM Customer
        INNER JOIN Invoice
            ON Customer.CustomerId = Invoice.CustomerId;
"""

result = pd.read_sql_query(query, conn)
print(result)

    FirstName    LastName  Invoice
0      Leonie      Köhler     1.98
1       Bjørn      Hansen     3.96
2        Daan     Peeters     5.94
3        Mark     Philips     8.91
4        John      Gordon    13.86
..        ...         ...      ...
407    Victor     Stevens     3.96
408    Robert       Brown     5.94
409  Madalena     Sampaio     8.91
410     Terhi  Hämäläinen    13.86
411     Manoj      Pareek     1.99

[412 rows x 3 columns]

In [ ]:
# Problem 6: List Tracks with their artists