# JOINs Practice

**Source:** SQLBolt Chapters 7-9  
**Database:** Chinook (Music Store)  
**Topics Covered:**
- INNER JOIN (matching records from both tables)
- LEFT JOIN / LEFT OUTER JOIN (all from left table + matches from right)
- RIGHT JOIN / RIGHT OUTER JOIN (all from right table + matches from left)
- FULL OUTER JOIN (all records from both tables)
- CROSS JOIN (Cartesian product)
- Self JOINs (joining a table to itself)
- Multi-table JOINs (3+ tables)
- JOIN with WHERE, ORDER BY, and LIMIT
- Understanding NULL values in JOINs

**Goal:** Master combining data from multiple tables - the most critical SQL skill for real-world data analysis.

**Key Chinook Relationships:**
- Artist → Album (one-to-many via ArtistId)
- Album → Track (one-to-many via AlbumId)
- Track → Genre (many-to-one via GenreId)
- Track → MediaType (many-to-one via MediaTypeId)
- Customer → Invoice (one-to-many via CustomerId)
- Invoice → InvoiceLine (one-to-many via InvoiceId)
- InvoiceLine → Track (many-to-one via TrackId)

---

In [1]:
import sqlite3
import pandas as pd

# Connect to Chinook database
conn = sqlite3.connect('chinook.db')

print("Connected to Chinook database")

Connected to Chinook database

In [2]:
# Configure pandas display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 30)

In [6]:
# Problem 1: List track with their album names

query = """
        SELECT Name, Title
        FROM Track
        INNER JOIN Album
            ON Track.AlbumId = Album.AlbumId;
"""

result = pd.read_sql_query(query, conn)
print(result)

                               Name                          Title
0     For Those About To Rock (W...  For Those About To Rock We...
1                 Balls to the Wall              Balls to the Wall
2                   Fast As a Shark              Restless and Wild
3                 Restless and Wild              Restless and Wild
4              Princess of the Dawn              Restless and Wild
...                             ...                            ...
3498  Pini Di Roma (Pinien Von R...         Respighi:Pines of Rome
3499  String Quartet No. 12 in C...  Schubert: The Late String ...
3500  L'orfeo, Act 3, Sinfonia (...            Monteverdi: L'Orfeo
3501  Quintet for Horn, Violin, ...          Mozart: Chamber Music
3502                  Koyaanisqatsi  Koyaanisqatsi (Soundtrack ...

[3503 rows x 2 columns]

In [8]:
# Problem 2: Show artists with their albums

query = """
        SELECT Artist.Name, Album.Title
        FROM Artist
        INNER JOIN Album
            ON Artist.ArtistId = Album.ArtistId;
"""

result = pd.read_sql_query(query, conn)
print(result)

                              Name                          Title
0                            AC/DC  For Those About To Rock We...
1                           Accept              Balls to the Wall
2                           Accept              Restless and Wild
3                            AC/DC              Let There Be Rock
4                        Aerosmith                       Big Ones
..                             ...                            ...
342                 Eugene Ormandy         Respighi:Pines of Rome
343         Emerson String Quartet  Schubert: The Late String ...
344  C. Monteverdi, Nigel Roger...            Monteverdi: L'Orfeo
345                  Nash Ensemble          Mozart: Chamber Music
346          Philip Glass Ensemble  Koyaanisqatsi (Soundtrack ...

[347 rows x 2 columns]

In [9]:
# Problem 3: List tracks with their genre names

query = """
        SELECT Track.Name, Genre.Name
        FROM Track
        INNER JOIN Genre
            ON Track.GenreId = Genre.GenreId;
"""

result = pd.read_sql_query(query, conn)
print(result)

                               Name        Name
0     For Those About To Rock (W...        Rock
1                 Balls to the Wall        Rock
2                   Fast As a Shark        Rock
3                 Restless and Wild        Rock
4              Princess of the Dawn        Rock
...                             ...         ...
3498  Pini Di Roma (Pinien Von R...   Classical
3499  String Quartet No. 12 in C...   Classical
3500  L'orfeo, Act 3, Sinfonia (...   Classical
3501  Quintet for Horn, Violin, ...   Classical
3502                  Koyaanisqatsi  Soundtrack

[3503 rows x 2 columns]

In [11]:
# Problem 4: Show tracks with their mediatype 

query = """
        SELECT Track.Name AS TrackTitle, MediaType.Name AS MediaType
        FROM Track
        INNER JOIN MediaType
            ON Track.MediaTypeId = MediaType.MediaTypeId;
"""

result = pd.read_sql_query(query, conn)
print(result)

                         TrackTitle                 MediaType
0     For Those About To Rock (W...           MPEG audio file
1                 Balls to the Wall  Protected AAC audio file
2                   Fast As a Shark  Protected AAC audio file
3                 Restless and Wild  Protected AAC audio file
4              Princess of the Dawn  Protected AAC audio file
...                             ...                       ...
3498  Pini Di Roma (Pinien Von R...  Protected AAC audio file
3499  String Quartet No. 12 in C...  Protected AAC audio file
3500  L'orfeo, Act 3, Sinfonia (...  Protected AAC audio file
3501  Quintet for Horn, Violin, ...  Protected AAC audio file
3502                  Koyaanisqatsi  Protected AAC audio file

[3503 rows x 2 columns]

In [12]:
# Problem 5: List customers with their invoices

query = """
        SELECT Customer.FirstName, Customer.LastName, Invoice.Total AS Invoice
        FROM Customer
        INNER JOIN Invoice
            ON Customer.CustomerId = Invoice.CustomerId;
"""

result = pd.read_sql_query(query, conn)
print(result)

    FirstName    LastName  Invoice
0      Leonie      Köhler     1.98
1       Bjørn      Hansen     3.96
2        Daan     Peeters     5.94
3        Mark     Philips     8.91
4        John      Gordon    13.86
..        ...         ...      ...
407    Victor     Stevens     3.96
408    Robert       Brown     5.94
409  Madalena     Sampaio     8.91
410     Terhi  Hämäläinen    13.86
411     Manoj      Pareek     1.99

[412 rows x 3 columns]

In [7]:
# Problem 6: List Tracks with their artists

query = """
            SELECT Track.Name AS Track, Album.Title AS Album, Artist.Name
            FROM Track
            INNER JOIN Album ON Track.AlbumId = Album.AlbumId
            INNER JOIN Artist ON Album.ArtistId = Artist.ArtistId;

        """

result = pd.read_sql_query(query, conn)
print(result)

                              Track                          Album  \
0     For Those About To Rock (W...  For Those About To Rock We...
1                 Balls to the Wall              Balls to the Wall
2                   Fast As a Shark              Restless and Wild
3                 Restless and Wild              Restless and Wild
4              Princess of the Dawn              Restless and Wild
...                             ...                            ...
3498  Pini Di Roma (Pinien Von R...         Respighi:Pines of Rome
3499  String Quartet No. 12 in C...  Schubert: The Late String ...
3500  L'orfeo, Act 3, Sinfonia (...            Monteverdi: L'Orfeo
3501  Quintet for Horn, Violin, ...          Mozart: Chamber Music
3502                  Koyaanisqatsi  Koyaanisqatsi (Soundtrack ...

                               Name
0                             AC/DC
1                            Accept
2                            Accept
3                            Accept
4                            Accept
...                             ...
3498                 Eugene Ormandy
3499         Emerson String Quartet
3500  C. Monteverdi, Nigel Roger...
3501                  Nash Ensemble
3502          Philip Glass Ensemble

[3503 rows x 3 columns]

In [8]:
# Problem 7: Find all Rock tracks with artists

query = """
            SELECT Genre.Name AS Genre, Track.Name AS Track, Album.Title AS Album, Artist.Name AS Artist
            FROM Genre
            INNER JOIN Track ON Genre.GenreId = Track.GenreId
            INNER JOIN Album ON Track.AlbumId = Album.AlbumId
            INNER JOIN Artist ON Album.ArtistId = Artist.ArtistId
            WHERE Genre.Name LIKE "ROCK";

        """

result = pd.read_sql_query(query, conn)
print(result)

     Genre                          Track                          Album  \
0     Rock  For Those About To Rock (W...  For Those About To Rock We...
1     Rock              Balls to the Wall              Balls to the Wall
2     Rock                Fast As a Shark              Restless and Wild
3     Rock              Restless and Wild              Restless and Wild
4     Rock           Princess of the Dawn              Restless and Wild
...    ...                            ...                            ...
1292  Rock             Tease Me Please Me  20th Century Masters - The...
1293  Rock                 Wind of Change  20th Century Masters - The...
1294  Rock               Send Me an Angel  20th Century Masters - The...
1295  Rock           I Guess You're Right            Every Kind of Light
1296  Rock                     Love Comes            Every Kind of Light

          Artist
0          AC/DC
1         Accept
2         Accept
3         Accept
4         Accept
...          ...
1292   Scorpions
1293   Scorpions
1294   Scorpions
1295  The Posies
1296  The Posies

[1297 rows x 4 columns]

In [10]:
# Problem 8: Customer purchases with track details

query = """
        SELECT Customer.FirstName, Customer.LastName, Track.Name AS Track_Purchased
        FROM Customer
        INNER JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
        INNER JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
        INNER JOIN Track ON InvoiceLine.TrackId = Track.TrackId;

        """

result = pd.read_sql_query(query, conn)
print(result)

     FirstName    LastName                Track_Purchased
0       Leonie      Köhler              Balls to the Wall
1       Leonie      Köhler              Restless and Wild
2        Bjørn      Hansen          Put The Finger On You
3        Bjørn      Hansen               Inject The Venom
4        Bjørn      Hansen                     Evil Walks
...        ...         ...                            ...
2235     Terhi  Hämäläinen               Looking For Love
2236     Terhi  Hämäläinen                Sweet Lady Luck
2237     Terhi  Hämäläinen  Feirinha da Pavuna/Luz do ...
2238     Terhi  Hämäläinen               Samba pras moças
2239     Manoj      Pareek                       Hot Girl

[2240 rows x 3 columns]

In [14]:
# Problem 9: Expensive tracks with full details

query = """
        SELECT
            Track.Name AS TrackName,
            Track.UnitPrice AS TrackPrice
        FROM InvoiceLine
        INNER JOIN Track ON InvoiceLine.TrackId = Track.TrackId
        WHERE InvoiceLine.UnitPrice > 1.00;

        """

result = pd.read_sql_query(query, conn)
print(result)

                         TrackName  TrackPrice
0           Occupation / Precipice        1.99
1                             Hero        1.99
2                   The Woman King        1.99
3                Crossroads, Pt. 2        1.99
4                    Better Halves        1.99
..                             ...         ...
106                      Par Avion        1.99
107                        Outlaws        1.99
108                Deus Ex Machina        1.99
109  Live Together, Die Alone, ...        1.99
110                       Hot Girl        1.99

[111 rows x 2 columns]

In [15]:
# Problem 10: Albums with artist names sorted

query = """
        SELECT Album.Title AS Album_Name, Artist.Name AS Artist
        FROM Album
        INNER JOIN Artist ON Album.ArtistId = Artist.ArtistId
        ORDER BY Artist.Name ASC;

        """

result = pd.read_sql_query(query, conn)
print(result)

                        Album_Name                         Artist
0    For Those About To Rock We...                          AC/DC
1                Let There Be Rock                          AC/DC
2    A Copland Celebration, Vol. I  Aaron Copland & London Sym...
3                           Worlds                 Aaron Goldberg
4    The World of Classical Fav...  Academy of St. Martin in t...
..                             ...                            ...
342             Vinicius De Moraes             Vinícius De Moraes
343      Bach: Goldberg Variations                 Wilhelm Kempff
344  Bartok: Violin & Viola Con...                 Yehudi Menuhin
345         Bach: The Cello Suites                       Yo-Yo Ma
346               Ao Vivo [IMPORT]                 Zeca Pagodinho

[347 rows x 2 columns]

In [9]:
# Problem 11:All artists and their album count (including artists with no albums)
query = """
        SELECT 
            Artist.Name AS Artist, 
            COUNT(Album.AlbumId) AS Album_Count
        FROM Artist
        LEFT JOIN Album ON Artist.ArtistId = Album.ArtistId
        GROUP BY Artist.ArtistId, Artist.Name
        ORDER BY Album_Count DESC;
        
        


"""


result = pd.read_sql_query(query, conn)
print(result)

                            Artist  Album_Count
0                      Iron Maiden           21
1                     Led Zeppelin           14
2                      Deep Purple           11
3                               U2           10
4                        Metallica           10
..                             ...          ...
270                        Azymuth            0
271                  Avril Lavigne            0
272  Aerosmith & Sierra Leone's...            0
273  Academy of St. Martin in t...            0
274                   A Cor Do Som            0

[275 rows x 2 columns]

In [12]:
# Problem 12:Find Customers and their total purchases

query = """
        SELECT 
            Customer.FirstName, Customer.LastName,
            SUM(Invoice.Total) AS Total_Purchase
        FROM Customer
        LEFT JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
        GROUP BY Customer.CustomerId, Customer.FirstName, Customer.LastName
        ORDER BY Total_Purchase DESC;
        
        """


result = pd.read_sql_query(query, conn)
print(result)

    FirstName      LastName  Total_Purchase
0      Helena          Holý           49.62
1     Richard    Cunningham           47.62
2        Luis         Rojas           46.62
3    Ladislav        Kovács           45.62
4        Hugh      O'Reilly           45.62
5       Frank       Ralston           43.62
6       Julia       Barnett           43.62
7        Fynn    Zimmermann           43.62
8      Astrid        Gruber           42.62
9      Victor       Stevens           42.62
10      Terhi    Hämäläinen           41.62
11  František   Wichterlová           40.62
12   Isabelle       Mercier           40.62
13   Johannes  Van der Berg           40.62
14       Luís     Gonçalves           39.62
15   François      Tremblay           39.62
16      Bjørn        Hansen           39.62
17       Jack         Smith           39.62
18        Dan        Miller           39.62
19    Heather       Leacock           39.62
20       João     Fernandes           39.62
21      Wyatt        Girard           39.62
22   Jennifer      Peterson           38.62
23        Tim         Goyer           38.62
24    Camille       Bernard           38.62
25  Dominique      Lefebvre           38.62
26     Joakim     Johansson           38.62
27      Manoj        Pareek           38.62
28     Leonie        Köhler           37.62
29       Daan       Peeters           37.62
30       Kara       Nielsen           37.62
31    Eduardo       Martins           37.62
32  Alexandre         Rocha           37.62
33    Roberto       Almeida           37.62
34   Fernanda         Ramos           37.62
35       Mark       Philips           37.62
36      Frank        Harris           37.62
37   Michelle        Brooks           37.62
38      Kathy         Chase           37.62
39       John        Gordon           37.62
40    Patrick          Gray           37.62
41     Robert         Brown           37.62
42     Edward       Francis           37.62
43     Martha          Silk           37.62
44      Aaron      Mitchell           37.62
45      Ellie      Sullivan           37.62
46   Madalena       Sampaio           37.62
47     Hannah     Schneider           37.62
48     Niklas      Schröder           37.62
49       Marc        Dubois           37.62
50      Lucas       Mancini           37.62
51  Stanisław        Wójcik           37.62
52    Enrique         Muñoz           37.62
53       Emma         Jones           37.62
54       Phil        Hughes           37.62
55      Steve        Murray           37.62
56       Mark        Taylor           37.62
57      Diego     Gutiérrez           37.62
58       Puja    Srivastava           36.64

In [17]:
# Problem 13:Find Artist With no Albums

query = """
        SELECT 
           Artist.Name AS Artist,
           COUNT(Album.AlbumId) AS Album_Count
        FROM Artist
        LEFT JOIN Album ON Artist.ArtistId = Album.ArtistId
        
        GROUP BY Artist.ArtistId, Artist.Name
        HAVING Album_Count = 0
        
        
        """


result = pd.read_sql_query(query, conn)
print(result)

                           Artist  Album_Count
0      Milton Nascimento & Bebeto            0
1                         Azymuth            0
2                   João Gilberto            0
3                  Bebel Gilberto            0
4                   Jorge Vercilo            0
..                            ...          ...
66  DJ Dolores & Orchestra San...            0
67                      Seu Jorge            0
68           Sabotage E Instituto            0
69                Stereo Maracana            0
70  Academy of St. Martin in t...            0

[71 rows x 2 columns]