In [2]:
import sqlite3
import pandas as pd

# Connect to Chinook database
conn = sqlite3.connect('chinook.db')

print("Connected to Chinook database")

Connected to Chinook database

In [3]:
# Configure pandas display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 30)

In [4]:
SCHEMA REFERENCE
Key Tables andColumns
tracks

TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer
Milliseconds, Bytes, UnitPrice

albums

AlbumId, Title, ArtistId

artists

ArtistId, Name

customers

CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId

invoices

InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode, Total

invoice_items

InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity

genres

GenreId, Name

media_types

MediaTypeId, Name

employees

EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email

SyntaxError: invalid syntax (1543158634.py, line 1)

In [8]:
# Problem 1: How many tracks in the database?

query = """
        SELECT COUNT(*) FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

   COUNT(*)
0      3503

In [9]:
# Problem 2: What is the average track length in milliseconds
query = """
        SELECT AVG(Track.Milliseconds) as Average
        FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

         Average
0  393599.212104

In [10]:
# Problem 3: What is the total size in bytes of all tracks combined?
query = """
        SELECT SUM(Track.Bytes) as Total_Bytes
        FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

    Total_Bytes
0  117386255350

In [11]:
# Problem 4: What is the price of the most expensive track
query = """
        SELECT MAX(Track.UnitPrice) as Most_expensive
        FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

   Most_expensive
0            1.99

In [14]:
# Problem 5: How many unique composers are listed in the tracks table?
query = """
        SELECT COUNT(DISTINCT Track.Composer) as Composers
        FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

   Composers
0        853

In [7]:
# Problem 6: How many tracks exist for each genre? Show genre name and track count
query = """
        SELECT Genre.name, COUNT(Track.name)
        FROM Genre
        JOIN Track
            ON Genre.GenreId = Track.GenreId
        GROUP BY Genre.name;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

                  Name  COUNT(Track.name)
0          Alternative                 40
1   Alternative & Punk                332
2                Blues                 81
3           Bossa Nova                 15
4            Classical                 74
5               Comedy                 17
6                Drama                 64
7       Easy Listening                 24
8    Electronica/Dance                 30
9          Heavy Metal                 28
10         Hip Hop/Rap                 35
11                Jazz                130
12               Latin                579
13               Metal                374
14               Opera                  1
15                 Pop                 48
16            R&B/Soul                 61
17              Reggae                 58
18                Rock               1297
19       Rock And Roll                 12
20    Sci Fi & Fantasy                 26
21     Science Fiction                 13
22          Soundtrack                 43
23            TV Shows                 93
24               World                 28

In [10]:
# Problem 7: What is the average track price for each media type? Show media type
# name and average price.

query = """
        SELECT MediaType.Name AS MediaType, AVG(UnitPrice) AS Average_Price
        FROM Track
            JOIN MediaType
                ON Track.MediaTypeId = MediaType.MediaTypeId
            GROUP BY MediaType.Name;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

                     MediaType  Average_Price
0               AAC audio file       0.990000
1              MPEG audio file       0.990000
2     Protected AAC audio file       0.990000
3  Protected MPEG-4 video file       1.985327
4     Purchased AAC audio file       0.990000

In [12]:
# Problem 8: For each album, how many tracks does it contain? Show all album title and track count

query = """
       SELECT Album.Title AS Album_Name, COUNT(Track.TrackId) AS Tracks
       FROM Album
           JOIN Track
               ON Album.AlbumId = Track.AlbumId
            GROUP BY Album.Title;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

                        Album_Name  Tracks
0           ...And Justice For All       9
1    20th Century Masters - The...      12
2    A Copland Celebration, Vol. I       1
3       A Matter of Life and Death      11
4                  A Real Dead One      12
..                             ...     ...
342                 Warner 25 Anos      14
343   Weill: The Seven Deadly Sins       1
344                         Worlds       1
345                        Zooropa      10
346    [1997] Black Light Syndrome       7

[347 rows x 2 columns]

In [13]:
# Problem 9: What is the total revenue generated from each country? Show country
# and total revenue

query = """
       SELECT Invoice.BillingCountry as Country, SUM(Invoice.Total) AS Revenue
       FROM Invoice
       GROUP BY Invoice.BillingCountry;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

           Country  Revenue
0        Argentina    37.62
1        Australia    37.62
2          Austria    42.62
3          Belgium    37.62
4           Brazil   190.10
5           Canada   303.96
6            Chile    46.62
7   Czech Republic    90.24
8          Denmark    37.62
9          Finland    41.62
10          France   195.10
11         Germany   156.48
12         Hungary    45.62
13           India    75.26
14         Ireland    45.62
15           Italy    37.62
16     Netherlands    40.62
17          Norway    39.62
18          Poland    37.62
19        Portugal    77.24
20           Spain    37.62
21          Sweden    38.62
22             USA   523.06
23  United Kingdom   112.86

In [15]:
# Problem 10: How many customers from each country? Show country and customer count
query = """
       SELECT Customer.Country AS COUNTRY, COUNT(Customer.Country) AS Customer_Count
       FROM Customer
       GROUP BY Customer.Country;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

           COUNTRY  Customer_Count
0        Argentina               1
1        Australia               1
2          Austria               1
3          Belgium               1
4           Brazil               5
5           Canada               8
6            Chile               1
7   Czech Republic               2
8          Denmark               1
9          Finland               1
10          France               5
11         Germany               4
12         Hungary               1
13           India               2
14         Ireland               1
15           Italy               1
16     Netherlands               1
17          Norway               1
18          Poland               1
19        Portugal               2
20           Spain               1
21          Sweden               1
22             USA              13
23  United Kingdom               3

In [5]:
# Problem 11: Which genres have more than 100 tracks? Show genre name and track
# count, ordered by track count descending

query = """
       SELECT Genre.Name, COUNT(Track.TrackId) as Count
       FROM Genre
           JOIN Track
            ON Genre.GenreId = Track.GenreId
        GROUP BY Genre.GenreId, Genre.Name
        HAVING COUNT(Track.TrackId) > 100
        ORDER BY Count DESC;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

                 Name  Count
0                Rock   1297
1               Latin    579
2               Metal    374
3  Alternative & Punk    332
4                Jazz    130

In [7]:
# Problem 12: Which countries have generated more than 40$ in total revenue? 
# Show country and total revenue

query = """
       SELECT Invoice.BillingCountry, SUM(Invoice.Total)
       FROM Invoice
       GROUP BY Invoice.BillingCountry
       HAVING SUM(Invoice.Total) > 40
       ORDER BY SUM(Invoice.Total) DESC;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

    BillingCountry  SUM(Invoice.Total)
0              USA              523.06
1           Canada              303.96
2           France              195.10
3           Brazil              190.10
4          Germany              156.48
5   United Kingdom              112.86
6   Czech Republic               90.24
7         Portugal               77.24
8            India               75.26
9            Chile               46.62
10         Ireland               45.62
11         Hungary               45.62
12         Austria               42.62
13         Finland               41.62
14     Netherlands               40.62

In [8]:
# Problem 13: Which albums contain more than 20 tracks? Shoe album title and track count

query = """
       SELECT Album.Title AS Album, COUNT(Track.TrackId) AS Track_Count
       FROM Album
       INNER JOIN Track
       ON Album.AlbumId = Track.AlbumId
       GROUP BY Album.AlbumId, ALbum.Title
       HAVING COUNT(track.TrackId) > 20
       ORDER BY Track_Count DESC;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

                            Album  Track_Count
0                   Greatest Hits           57
1                  Minha Historia           34
2                       Unplugged           30
3                  Lost, Season 3           26
4                  Lost, Season 1           25
5            The Office, Season 3           25
6   My Way: The Best Of Frank ...           24
7                  Lost, Season 2           24
8   Battlestar Galactica (Clas...           24
9                  Afrociberdelia           23
10               Heroes, Season 1           23
11  Instant Karma: The Amnesty...           23
12                    Up An' Atom           22
13                       Acústico           22
14           The Office, Season 2           22
15        International Superhits           21
16                   Acústico MTV           21

In [4]:
# Problem 14: Show Artists who have released more than 10 albums. Display Artist name and
# album count

query = """
       SELECT Artist.Name AS Artist, COUNT(Album.AlbumId)
       FROM Artist
       INNER JOIN Album
       ON Artist.ArtistId = Album.ArtistId
       GROUP BY Artist.ArtistId, Artist.Name
       HAVING COUNT(Album.AlbumId) > 10
       ORDER BY Artist.Name ASC;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

         Artist  COUNT(Album.AlbumId)
0   Deep Purple                    11
1   Iron Maiden                    21
2  Led Zeppelin                    14

In [6]:
# Problem 15:
# For each genre, show:
# Genre Name
# Total numbers of tracks
# Average track length in milliseconds
# Shortest track length
# Longes track length


query = """
       SELECT Genre.Name AS Genre, COUNT(Track.TrackId)AS TRACK_COUNT, 
       AVG(Track.Milliseconds) AS Avg_Len, MIN(Track.Milliseconds) AS Shortest_track,
       MAX(Milliseconds) AS Max_len

       FROM Genre
       INNER JOIN Track
       ON Genre.GenreId = Track.GenreId
       GROUP BY Genre.GenreId, Genre.Name
       ORDER BY TRACK_COUNT DESC;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

                 Genre  TRACK_COUNT       Avg_Len  Shortest_track  Max_len
0                 Rock         1297  2.839100e+05            1071  1612329
1                Latin          579  2.328593e+05           33149   543007
2                Metal          374  3.097494e+05           41900   816509
3   Alternative & Punk          332  2.343538e+05            4884   558602
4                 Jazz          130  2.917554e+05          126511   907520
5             TV Shows           93  2.145041e+06         1237791  5286953
6                Blues           81  2.703598e+05          135053   589531
7            Classical           74  2.938676e+05           51780   596519
8                Drama           64  2.575284e+06          112712  5088838
9             R&B/Soul           61  2.200669e+05          127399   418293
10              Reggae           58  2.471778e+05          173008   366733
11                 Pop           48  2.290341e+05          129666   663426
12          Soundtrack           43  2.443709e+05           32287   383764
13         Alternative           40  2.640585e+05          204078   672773
14         Hip Hop/Rap           35  1.781763e+05            7941   410409
15   Electronica/Dance           30  3.029858e+05          143830   529684
16         Heavy Metal           28  2.974529e+05           48013   516649
17               World           28  2.249238e+05           39131   300605
18    Sci Fi & Fantasy           26  2.911783e+06         2622622  2960293
19      Easy Listening           24  1.891642e+05           89730   292075
20              Comedy           17  1.585264e+06         1268268  2541875
21          Bossa Nova           15  2.195900e+05          137482   409965
22     Science Fiction           13  2.625549e+06         2563938  2713755
23       Rock And Roll           12  1.346435e+05          106266   163265
24               Opera            1  1.748130e+05          174813   174813

In [8]:
# Problem 16: For each country show total revenue and number of invoices,
# but only for countries that have at least 5 invoices. Order by total revenue
# descending



query = """
       SELECT Invoice.BillingCountry AS Country, SUM(Invoice.Total) AS Total_Revenue,
       COUNT(Invoice.InvoiceId) AS Invoice_Count
       FROM Invoice
       GROUP BY Country
       HAVING COUNT(Invoice.InvoiceId) >= 5
       ORDER BY Total_Revenue DESC;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

           Country  Total_Revenue  Invoice_Count
0              USA         523.06             91
1           Canada         303.96             56
2           France         195.10             35
3           Brazil         190.10             35
4          Germany         156.48             28
5   United Kingdom         112.86             21
6   Czech Republic          90.24             14
7         Portugal          77.24             14
8            India          75.26             13
9            Chile          46.62              7
10         Ireland          45.62              7
11         Hungary          45.62              7
12         Austria          42.62              7
13         Finland          41.62              7
14     Netherlands          40.62              7
15          Norway          39.62              7
16          Sweden          38.62              7
17           Spain          37.62              7
18          Poland          37.62              7
19           Italy          37.62              7
20         Denmark          37.62              7
21         Belgium          37.62              7
22       Australia          37.62              7
23       Argentina          37.62              7

In [11]:
# Problem 17: Show customers who have spent more than 40$ in total. Display customer
# full name, email, total amount spent. Order by total spent descending




query = """
    SELECT Customer.FirstName, Customer.LastName, Customer.Email, SUM(Invoice.Total) AS Total_Amount_Spent
    FROM Customer
    INNER JOIN Invoice
    ON Customer.CustomerId = Invoice.CustomerId
    GROUP BY Customer.CustomerId, Customer.FirstName, Customer.LastName, Customer.Email
    HAVING SUM(Invoice.Total) > 40
    ORDER BY Total_Amount_Spent DESC;
    
       
        
"""

result = pd.read_sql_query(query, conn)
print(result)

    FirstName      LastName                      Email  Total_Amount_Spent
0      Helena          Holý            hholy@gmail.com               49.62
1     Richard    Cunningham   ricunningham@hotmail.com               47.62
2        Luis         Rojas         luisrojas@yahoo.cl               46.62
3    Ladislav        Kovács   ladislav_kovacs@apple.hu               45.62
4        Hugh      O'Reilly       hughoreilly@apple.ie               45.62
5       Frank       Ralston         fralston@gmail.com               43.62
6       Julia       Barnett        jubarnett@gmail.com               43.62
7        Fynn    Zimmermann       fzimmermann@yahoo.de               43.62
8      Astrid        Gruber     astrid.gruber@apple.at               42.62
9      Victor       Stevens         vstevens@yahoo.com               42.62
10      Terhi    Hämäläinen  terhi.hamalainen@apple.fi               41.62
11  František   Wichterlová   frantisekw@jetbrains.com               40.62
12   Isabelle       Mercier  isabelle_mercier@apple.fr               40.62
13   Johannes  Van der Berg    johavanderberg@yahoo.nl               40.62

In [13]:
# Problem 18: For each album that has more than 10 tracks, show the ablum title,
# artist name, track count, average track price. 




query = """
    SELECT Album.Title AS Album, Artist.Name AS Artist, COUNT(Track.TrackId) AS Track_Count,
    AVG(Track.UnitPrice) AS Average_Price
    FROM Artist
    INNER JOIN Album
        ON Artist.ArtistId = Album.ArtistId
    INNER JOIN Track
        ON Album.AlbumId = Track.AlbumId
    GROUP BY Album.AlbumId, Album, Artist
    HAVING COUNT(Track.TrackId) > 10
    ORDER BY Track_Count DESC;
    
       
        
"""

result = pd.read_sql_query(query, conn)
print(result)

                             Album         Artist  Track_Count  Average_Price
0                    Greatest Hits  Lenny Kravitz           57           0.99
1                   Minha Historia  Chico Buarque           34           0.99
2                        Unplugged   Eric Clapton           30           0.99
3                   Lost, Season 3           Lost           26           1.99
4                   Lost, Season 1           Lost           25           1.99
..                             ...            ...          ...            ...
178                   Transmission  The Tea Party           11           0.99
179  All That You Can't Leave B...             U2           11           0.99
180  How To Dismantle An Atomic...             U2           11           0.99
181                      Van Halen      Van Halen           11           0.99
182                          Frank  Amy Winehouse           11           0.99

[183 rows x 4 columns]

In [14]:
# Q19 - Debug This:

# SELECT GenreId, COUNT(Name)
# FROM tracks
# GROUP BY Name;
# Task: A colleague wrote this trying to count how many tracks each genre has. What's wrong? Write the corrected query.

query = """
    SELECT Genre.Name, COUNT(Track.TrackId) AS Track_Count
    FROM Genre
    INNER JOIN Track
        ON Genre.GenreId = Track.GenreId
    GROUP BY Genre.Name
    ORDER BY Track_Count DESC;
    
       
        
"""

result = pd.read_sql_query(query, conn)
print(result)


# The syntax is ambiguous, more specificity in the table naming would bring clarity
# INNER JOIN is necessary since we are trying to collect information from two different tables
#

                  Name  Track_Count
0                 Rock         1297
1                Latin          579
2                Metal          374
3   Alternative & Punk          332
4                 Jazz          130
5             TV Shows           93
6                Blues           81
7            Classical           74
8                Drama           64
9             R&B/Soul           61
10              Reggae           58
11                 Pop           48
12          Soundtrack           43
13         Alternative           40
14         Hip Hop/Rap           35
15   Electronica/Dance           30
16               World           28
17         Heavy Metal           28
18    Sci Fi & Fantasy           26
19      Easy Listening           24
20              Comedy           17
21          Bossa Nova           15
22     Science Fiction           13
23       Rock And Roll           12
24               Opera            1

In [15]:
# Q20 - Debug This:

# SELECT BillingCountry, Total, COUNT(*) as invoice_count
# FROM invoices
# WHERE COUNT(*) > 5
# GROUP BY BillingCountry;
# Task: This query should show countries with more than 5 invoices. What's wrong? Write the corrected query.

query = """
    SELECT Invoice.BillingCountry AS Country, COUNT(Invoice.InvoiceId) AS Invoice_count
    FROM INVOICE
    GROUP BY Country
    HAVING COUNT(Invoice.InvoiceId) > 5
    ORDER BY Invoice_count DESC;
    
       
        
"""

result = pd.read_sql_query(query, conn)
print(result)

# should use HAVING not WHERE

           Country  Invoice_count
0              USA             91
1           Canada             56
2           France             35
3           Brazil             35
4          Germany             28
5   United Kingdom             21
6         Portugal             14
7   Czech Republic             14
8            India             13
9           Sweden              7
10           Spain              7
11          Poland              7
12          Norway              7
13     Netherlands              7
14           Italy              7
15         Ireland              7
16         Hungary              7
17         Finland              7
18         Denmark              7
19           Chile              7
20         Belgium              7
21         Austria              7
22       Australia              7
23       Argentina              7