In [1]:
import sqlite3
import pandas as pd

# Connect to Chinook database
conn = sqlite3.connect('chinook.db')

print("Connected to Chinook database")

Connected to Chinook database

In [2]:
# Configure pandas display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 30)

In [4]:
SCHEMA REFERENCE
Key Tables andColumns
tracks

TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer
Milliseconds, Bytes, UnitPrice

albums

AlbumId, Title, ArtistId

artists

ArtistId, Name

customers

CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId

invoices

InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode, Total

invoice_items

InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity

genres

GenreId, Name

media_types

MediaTypeId, Name

employees

EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email

SyntaxError: invalid syntax (1543158634.py, line 1)

In [8]:
# Problem 1: How many tracks in the database?

query = """
        SELECT COUNT(*) FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

   COUNT(*)
0      3503

In [9]:
# Problem 2: What is the average track length in milliseconds
query = """
        SELECT AVG(Track.Milliseconds) as Average
        FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

         Average
0  393599.212104

In [10]:
# Problem 3: What is the total size in bytes of all tracks combined?
query = """
        SELECT SUM(Track.Bytes) as Total_Bytes
        FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

    Total_Bytes
0  117386255350

In [11]:
# Problem 4: What is the price of the most expensive track
query = """
        SELECT MAX(Track.UnitPrice) as Most_expensive
        FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

   Most_expensive
0            1.99

In [14]:
# Problem 5: How many unique composers are listed in the tracks table?
query = """
        SELECT COUNT(DISTINCT Track.Composer) as Composers
        FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

   Composers
0        853

In [7]:
# Problem 6: How many tracks exist for each genre? Show genre name and track count
query = """
        SELECT Genre.name, COUNT(Track.name)
        FROM Genre
        JOIN Track
            ON Genre.GenreId = Track.GenreId
        GROUP BY Genre.name;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

                  Name  COUNT(Track.name)
0          Alternative                 40
1   Alternative & Punk                332
2                Blues                 81
3           Bossa Nova                 15
4            Classical                 74
5               Comedy                 17
6                Drama                 64
7       Easy Listening                 24
8    Electronica/Dance                 30
9          Heavy Metal                 28
10         Hip Hop/Rap                 35
11                Jazz                130
12               Latin                579
13               Metal                374
14               Opera                  1
15                 Pop                 48
16            R&B/Soul                 61
17              Reggae                 58
18                Rock               1297
19       Rock And Roll                 12
20    Sci Fi & Fantasy                 26
21     Science Fiction                 13
22          Soundtrack                 43
23            TV Shows                 93
24               World                 28

In [10]:
# Problem 7: What is the average track price for each media type? Show media type
# name and average price.

query = """
        SELECT MediaType.Name AS MediaType, AVG(UnitPrice) AS Average_Price
        FROM Track
            JOIN MediaType
                ON Track.MediaTypeId = MediaType.MediaTypeId
            GROUP BY MediaType.Name;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

                     MediaType  Average_Price
0               AAC audio file       0.990000
1              MPEG audio file       0.990000
2     Protected AAC audio file       0.990000
3  Protected MPEG-4 video file       1.985327
4     Purchased AAC audio file       0.990000

In [12]:
# Problem 8: For each album, how many tracks does it contain? Show all album title and track count

query = """
       SELECT Album.Title AS Album_Name, COUNT(Track.TrackId) AS Tracks
       FROM Album
           JOIN Track
               ON Album.AlbumId = Track.AlbumId
            GROUP BY Album.Title;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

                        Album_Name  Tracks
0           ...And Justice For All       9
1    20th Century Masters - The...      12
2    A Copland Celebration, Vol. I       1
3       A Matter of Life and Death      11
4                  A Real Dead One      12
..                             ...     ...
342                 Warner 25 Anos      14
343   Weill: The Seven Deadly Sins       1
344                         Worlds       1
345                        Zooropa      10
346    [1997] Black Light Syndrome       7

[347 rows x 2 columns]

In [13]:
# Problem 9: What is the total revenue generated from each country? Show country
# and total revenue

query = """
       SELECT Invoice.BillingCountry as Country, SUM(Invoice.Total) AS Revenue
       FROM Invoice
       GROUP BY Invoice.BillingCountry;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

           Country  Revenue
0        Argentina    37.62
1        Australia    37.62
2          Austria    42.62
3          Belgium    37.62
4           Brazil   190.10
5           Canada   303.96
6            Chile    46.62
7   Czech Republic    90.24
8          Denmark    37.62
9          Finland    41.62
10          France   195.10
11         Germany   156.48
12         Hungary    45.62
13           India    75.26
14         Ireland    45.62
15           Italy    37.62
16     Netherlands    40.62
17          Norway    39.62
18          Poland    37.62
19        Portugal    77.24
20           Spain    37.62
21          Sweden    38.62
22             USA   523.06
23  United Kingdom   112.86

In [15]:
# Problem 10: How many customers from each country? Show country and customer count
query = """
       SELECT Customer.Country AS COUNTRY, COUNT(Customer.Country) AS Customer_Count
       FROM Customer
       GROUP BY Customer.Country;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

           COUNTRY  Customer_Count
0        Argentina               1
1        Australia               1
2          Austria               1
3          Belgium               1
4           Brazil               5
5           Canada               8
6            Chile               1
7   Czech Republic               2
8          Denmark               1
9          Finland               1
10          France               5
11         Germany               4
12         Hungary               1
13           India               2
14         Ireland               1
15           Italy               1
16     Netherlands               1
17          Norway               1
18          Poland               1
19        Portugal               2
20           Spain               1
21          Sweden               1
22             USA              13
23  United Kingdom               3

In [5]:
# Problem 11: Which genres have more than 100 tracks? Show genre name and track
# count, ordered by track count descending

query = """
       SELECT Genre.Name, COUNT(Track.TrackId) as Count
       FROM Genre
           JOIN Track
            ON Genre.GenreId = Track.GenreId
        GROUP BY Genre.GenreId, Genre.Name
        HAVING COUNT(Track.TrackId) > 100
        ORDER BY Count DESC;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

                 Name  Count
0                Rock   1297
1               Latin    579
2               Metal    374
3  Alternative & Punk    332
4                Jazz    130

In [7]:
# Problem 12: Which countries have generated more than 40$ in total revenue? 
# Show country and total revenue

query = """
       SELECT Invoice.BillingCountry, SUM(Invoice.Total)
       FROM Invoice
       GROUP BY Invoice.BillingCountry
       HAVING SUM(Invoice.Total) > 40
       ORDER BY SUM(Invoice.Total) DESC;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

    BillingCountry  SUM(Invoice.Total)
0              USA              523.06
1           Canada              303.96
2           France              195.10
3           Brazil              190.10
4          Germany              156.48
5   United Kingdom              112.86
6   Czech Republic               90.24
7         Portugal               77.24
8            India               75.26
9            Chile               46.62
10         Ireland               45.62
11         Hungary               45.62
12         Austria               42.62
13         Finland               41.62
14     Netherlands               40.62

In [8]:
# Problem 13: Which albums contain more than 20 tracks? Shoe album title and track count

query = """
       SELECT Album.Title AS Album, COUNT(Track.TrackId) AS Track_Count
       FROM Album
       INNER JOIN Track
       ON Album.AlbumId = Track.AlbumId
       GROUP BY Album.AlbumId, ALbum.Title
       HAVING COUNT(track.TrackId) > 20
       ORDER BY Track_Count DESC;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

                            Album  Track_Count
0                   Greatest Hits           57
1                  Minha Historia           34
2                       Unplugged           30
3                  Lost, Season 3           26
4                  Lost, Season 1           25
5            The Office, Season 3           25
6   My Way: The Best Of Frank ...           24
7                  Lost, Season 2           24
8   Battlestar Galactica (Clas...           24
9                  Afrociberdelia           23
10               Heroes, Season 1           23
11  Instant Karma: The Amnesty...           23
12                    Up An' Atom           22
13                       Acústico           22
14           The Office, Season 2           22
15        International Superhits           21
16                   Acústico MTV           21

In [9]:
# Problem 14: Show Artists who have released more than 10 albums. Display Artist name and
# album count

query = """
       SELECT Artist.Name AS Artist, COUNT(Album.AlbumId)
       FROM Artist
       INNER JOIN Album
       ON Artist.ArtistId = Album.ArtistId
       GROUP BY Artist.ArtistId, Artist.Name
       HAVING COUNT(Album.AlbumId) > 10
       ORDER BY Artist.Name ASC;
        
"""

result = pd.read_sql_query(query, conn)
print(result)

         Artist  COUNT(Album.AlbumId)
0   Deep Purple                    11
1   Iron Maiden                    21
2  Led Zeppelin                    14