In [1]:
import sqlite3
import pandas as pd

# Connect to Chinook database
conn = sqlite3.connect('chinook.db')

print("Connected to Chinook database")

Connected to Chinook database

In [2]:
# Configure pandas display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 30)

In [4]:
SCHEMA REFERENCE
Key Tables andColumns
tracks

TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer
Milliseconds, Bytes, UnitPrice

albums

AlbumId, Title, ArtistId

artists

ArtistId, Name

customers

CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId

invoices

InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode, Total

invoice_items

InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity

genres

GenreId, Name

media_types

MediaTypeId, Name

employees

EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email

SyntaxError: invalid syntax (1543158634.py, line 1)

In [8]:
# Problem 1: How many tracks in the database?

query = """
        SELECT COUNT(*) FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

   COUNT(*)
0      3503

In [9]:
# Problem 2: What is the average track length in milliseconds
query = """
        SELECT AVG(Track.Milliseconds) as Average
        FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

         Average
0  393599.212104

In [10]:
# Problem 3: What is the total size in bytes of all tracks combined?
query = """
        SELECT SUM(Track.Bytes) as Total_Bytes
        FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

    Total_Bytes
0  117386255350

In [11]:
# Problem 4: What is the price of the most expensive track
query = """
        SELECT MAX(Track.UnitPrice) as Most_expensive
        FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

   Most_expensive
0            1.99

In [14]:
# Problem : How many unique composers are listed in the tracks table?
query = """
        SELECT COUNT(DISTINCT Track.Composer) as Composers
        FROM Track;
"""

result = pd.read_sql_query(query, conn)
print(result)

   Composers
0        853